/* Fixed below navbar */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}  

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.footer {
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 90%;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.img-header {
    display: block;
    max-height: 30vh;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}